.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 10%;
  color: #ddd;
  border-bottom: 2px solid #cecbc896;
}
.navbar .logo {
  width: 50px;
}
.navbar ul {
  display: flex;
  gap: 40px;
  list-style: none;
}
.navbar li {
  font-size: 1.2rem;
  cursor: pointer;
}
.navbar li:hover {
  color: gold;
  border-bottom: 2px solid gold;
}
.nav-right {
  display: flex;
  align-items: center;
  gap: max(1vw, 14px);
}
.navbar select {
  padding: 10px 8px;
  border-radius: 10px;
  border: 2px solid #fff;
  color: #fff;
  background: transparent;
  margin-right: 30px;
}
.navbar option {
  background-color: #bdbdc1;
  color: #fff;
}

.navbar button img {
  width: 14px;
}
@media (max-width: 900px) {
  .navbar {
    padding: 20px 8%;
  }
  .navbar button {
    gap: 8px;
    padding: 8px 18px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .navbar {
    padding: 20px 5%;
  }
  .navbar ul {
    display: none;
  }
  .navbar button img {
    width: 12px;
  }
}
