@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}
a{
    text-decoration: none;
     color: inherit;
}
.app{
    min-height: 100vh;
    color: white;
    /* background: linear-gradient(#0b004e,#1d162f,#002834);
    background: black; */
    /* background: rgba(0, 0, 0, 0.807); */
    background: black;
}
::-webkit-scrollbar {
    width: 8px;
    height: 7px;
    scroll-behavior: smooth;
    
  }
  
  ::-webkit-scrollbar-track {
    background: #010101;
   
  }
  
  ::-webkit-scrollbar-thumb {
    background: gold;
    border-radius: 10px;
  }
